@charset "utf-8";

/***************************************
POPUP COMMON
***************************************/
:root {
  --color-enuriblue:#1A70DD;
  --color-enuriblue-old:#0073c2;
  --color-aside-bg:#383E4C;
  --color-aside-font:#fff;
  --color-aside-active:#5894E1;
  --sprite-img:url(http://img.enuri.info/images/newmp/sprite_ico.png);
}

// POPUP Scrollbar Custom
.wrapper-pop {
  ::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;

    &:vertical {
      width: 10px;
    }

    &:horizontal {
      height: 8px;
    }
  }

  ::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 2px;
    border-top: 2px solid #f9f9f9;
    border-bottom: 2px solid #f9f9f9;
    border-left: 4px solid #f9f9f9;
    border-right: 2px solid #f9f9f9;
    transition: opacity .3s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    background-color: #f9f9f9;
  }

  .scroll_area::-webkit-scrollbar-thumb, .product_addoption::-webkit-scrollbar-thumb {
    background-color: #e9e9e9;
    border-radius: 2px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 4px solid #fff;
    border-right: 2px solid #fff;
    transition: opacity .3s ease-in-out;
  }

  .scroll_area::-webkit-scrollbar-track, .product_addoption::-webkit-scrollbar-track {
    background-color: #fff;
  }

  .scroll_area:hover::-webkit-scrollbar-thumb, .product_addoption:hover::-webkit-scrollbar-thumb, .product_category:hover::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  width: 100%;
}

.popup-inner {
  width: 100%;
}

.popup-head {
  position: relative;
  width: 100%;
  padding: 7px 6px;
  height: 40px;
  border-bottom: 1px solid #ddd;
  font-size: 0;
  background-color: #e9eef7;

  .tx_tit {
    display: block;
    position: relative;
    height: 22px;
    font-size: 14px;
    letter-spacing: -.4px;
    color: #000;
    line-height: 22px;

    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 22px;
      margin-right: 8px;
      vertical-align: middle;
      background: var(--sprite-img) -80px -20px no-repeat;
    }

    .tx_model {
      font-style: normal;
      font-weight: bold;
      color: #1a70dd;
    }

    .tx_name {
      font-weight: bold;
      color: #000;
    }
  }
}

#productAttrAdmin {
  overflow: hidden;
  width: 1180px;
  height: 980px;
  border: 1px solid #000;
}

// 속성입력 어드민
.attradmin {
  padding: 0;
}

// 속성입력 상단 
.attr-top {
  position: relative;
  height: 300px;
  border-bottom: 1px solid #ccc;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 810px;
    width: 1px;
    height: 100%;
    background-color: #ddd;
  }
}

// 속성입력 상단 > 상품 상세 
.product_detail {
  float: left;
  position: relative;
  width: 810px;
  height: 100%;
  padding: 16px;
}

.product_left {
  float: left;
  width: 146px;
  margin-right: 12px;

  .thum_img {
    display: block;
    position: relative;
    width: 146px;
    height: 146px;
    margin-bottom: 12px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px solid #ddd;
      background-color: transparent;
      pointer-events: none;
    }

    > img {
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  }

  .product_link {
    > {
      a, button {
        display: block;
        width: 100%;
        height: 24px;
        margin-bottom: 6px;
        border: 1px solid #ddd;
        font-size: 11px;
        letter-spacing: -.4px;
        color: #000;
        line-height: 24px;
        text-align: center;
      }
    }

    .btn-half {
      float: left;
      width: 71px;

      + .btn-half {
        float: right;
      }
    }
  }
}

.product_right {
  float: right;
  width: calc(100% - 158px);

  .scroll_area {
    overflow: hidden;
    overflow-y: auto;
    max-height: 170px;
  }

  .product_row {
    clear: both;
    position: relative;
    width: 100%;
  }

  .product_name {
    width: calc(100% - 150px);
    margin: 2px 0 12px;
    line-height: 30px;

    .tx_unit {
      display: inline-block;
      height: 30px;
      font-size: 0;

      .tx_model {
        margin-right: 8px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #1A70DD;
      }

      .tx_name {
        font-weight: bold;
        font-size: 14px;
        color: #000;
      }
    }

    .tx_comp {
      display: inline-block;
      font-size: 0;
      vertical-align: top;

      > p {
        display: inline-block;
        position: relative;
        margin: 0;
        font-size: 12px;
        color: #000;
        line-height: 24px;
        vertical-align: middle;

        + p {
          margin-left: 12px;
          padding-left: 13px;

          &:before {
            content: "";
            position: absolute;
            top: 1px;
            left: 0;
            bottom: 0;
            height: 24px;
            border-left: 1px solid #ddd;
          }
        }

        > em {
          display: inline-block;
          height: 24px;
          margin-left: 4px;
          padding: 0 8px;
          border-radius: 2px;
          border: 1px solid #ccc;
          font-style: normal;
          font-size: 11px;
          letter-spacing: -.4px;
          color: #333;
          line-height: 22px;
        }
      }
    }

    .btn-mbrand {
      display: inline-block;
      height: 24px;
      padding: 0 10px;
      margin-left: 4px;
      border-radius: 2px;
      border: 1px solid #666;
      font-size: 11px;
      color: #fff;
      line-height: 22px;
      text-align: center;
      background-color: #666;
    }
  }

  .product_link {
    position: absolute;
    top: 0;
    right: 0;

    > a {
      display: inline-block;
      height: 28px;
      padding: 0 20px;
      border: 1px solid #ccc;
      font-size: 12px;
      color: #000;
      line-height: 26px;
      vertical-align: middle;
    }
  }

  // 상품 설명 입력
  .ipt-write {
    resize: none;
    outline: 0;
    width: 291px;
    height: 46px;
    margin-bottom: 10px;
    padding: 3px 8px;
    border: 1px solid #ccc;
    font-size: 12px;
    letter-spacing: -.4px;
    line-height: 20px;
    background-color: #f4f4f4;
  }
}

// 상품 속성 목록 
// LP에서 사용중인 마크업과 동일해야 해서, attr_list 는 이후에 바꿀 예정
.attr_list {
  display: block;
  margin: 0 0 8px;
  font-size: 0;

  li {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #555;
    word-break: keep-all;

    + li {
      margin-left: 6px;
      padding-left: 9px;

      &:before {
        content: '/';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px;
        line-height: 18px;
        color: #555;
      }
    }

    > em {
      font-style: normal;
    }
  }
}

// LP 속성 구버전 마크업과 동일하게 : 이후에 위 attr_list로 변경해야 함.
.item__attr {
  color: #666;
  line-height: 18px;
  letter-spacing: 0;
  font-family: "맑은 고딕","Malgun Gothic","Apple SD Gothic Neo",sans-serif;
  font-size: 12px;
  margin-top: 4px;
  word-break: break-all;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    position: relative;
    line-height: 18px;
    letter-spacing: 0;
    display: inline-block;
    word-break: break-all;

    &:before {
      content: " / ";
      color: #ccc;
      font-size: 11px;
    }

    &:first-child:before {
      display: none;
    }

    margin-right: -4px;
  }

  em {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 12px;
    height: 20px;
    font-size: 0;
    vertical-align: middle;
    background: url(//img.enuri.info/images/rev/lp_sprite.png) no-repeat -303px -40px;
  }

  li {
    strong.tx_highlight {
      font-size: 12px;
      line-height: 18px;
      text-indent: 0;
      width: auto;
      height: auto;
      top: -1px;
    }

    b {
      font-weight: normal;
      color: #666;
    }
  }
}

// 해상도 이전 마크업 대응 CSS
// 속성 부분 개편되기 전까지 li 역마진 유지
.item__summ {
  color: #666;
  font-family: "맑은 고딕","Malgun Gothic","Apple SD Gothic Neo",sans-serif;
  font-size: 12px;
  margin-top: 8px;
  line-height: 18px;
  letter-spacing: 0;
  overflow: hidden;

  dl {
    line-height: 18px;
    margin-left: -12px;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  dt, dd {
    float: left;
    position: relative;
    padding-left: 12px;
  }

  dt:before, dd:before {
    content: "/";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    text-align: center;
    color: #ccc;
  }

  dt {
    font-weight: bold;
    color: #666;
  }

  dl dd:first-of-type {
    max-width: 434px;
    padding-left: 6px;
    word-break: break-all;

    &:before {
      display: none;
    }
  }

  em {
    position: relative;
    display: inline-block;

    &:before {
      content: " / ";
      margin: 0 4px;
      color: #ccc;
      font-size: 11px;
    }
  }

  b {
    + em {
      margin-left: 4px;

      &:before {
        display: none;
      }
    }

    font-weight: bold;
    color: #666;
  }

  a:first-child br {
    display: none;
  }
}

.btn--parts {
  position: relative;
  text-decoration: none;
  color: #666;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  &:hover {
    cursor: help;
    color: #666;
    text-decoration: none;

    &:after {
      border-color: #aaa;
      color: #666;
    }
  }
}

.btn--dic {
  color: inherit;
  border-bottom: 1px solid #e0e0e0;
  cursor: help;

  &:hover {
    text-decoration: none;
    border-color: #aaa;
    color: #666;
  }
}

// 상품 속성 목록 
.bigattr_list {
  display: block;
  margin: 0 0 12px;
  font-size: 0;

  .tx_spec {
    display: inline-block;
    margin: 0;
    font-style: normal;
    font-size: 0;

    > li {
      display: inline-block;
      position: relative;
      font-size: 12px;
      line-height: 20px;
      color: #555;

      &.tx_tit {
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        color: #333;

        + li {
          padding-left: 0;

          &:before {
            display: none;
          }
        }
      }

      > em {
        font-style: normal;
      }

      + li {
        margin-left: 4px;
        padding-left: 9px;

        &:before {
          content: '/';
          position: absolute;
          top: 0;
          left: 0;
          font-size: 12px;
          line-height: 18px;
          color: #555;
        }
      }
    }
  }
}

// 뉴스&이벤트 등
.news_list {
  display: block;
  font-size: 0;

  > li {
    display: inline-block;
    margin: 0;
    font-style: normal;
    font-size: 0;

    > p {
      display: inline-block;
      margin: 0;
      font-size: 12px;
    }

    .tx_tit {
      margin-right: 4px;
      font-weight: bold;
      color: #333;
    }

    .tx_sub {
      color: #555;
    }
  }
}

.product_option {
  float: right;
  width: calc(100% - 810px);
  height: 100%;
}

// 태그 박스
.tagbox_row {
  width: 100%;
  padding: 23px 15px;
  border-bottom: 1px solid #ddd;

  .tag_list {
    display: block;
    margin: 0;
    font-size: 0;

    > li {
      display: inline-block;
      height: 16px;
      margin: 0 4px 0 0;

      > span {
        display: inline-block;
        height: 100%;
        font-size: 0;
        text-indent: -9999px;
        background: var(--sprite-img) no-repeat;

        &.tag--brand {
          width: 60px;
          background-position: 0 -60px;
        }

        &.tag--enuripc {
          width: 84px;
          background-position: 0 -80px;
        }

        &.tag--enuri {
          width: 102px;
          background-position: 0 -100px;
        }
      }
    }
  }
}

// 컨펌라인 
.confirm_row {
  display: block;
  width: 100%;
  padding: 18px 15px 10px;
  font-size: 0;

  .ipt-calendar {
    display: inline-block;
    width: 120px;
    height: 28px;
    padding: 0 5px;
    border-radius: 1px;
    border: 1px solid #ccc;
    font-size: 11px;
    color: #000;
    vertical-align: top;
    background-color: #f4f4f4;
  }

  > a {
    display: inline-block;
    width: 65px;
    height: 28px;
    margin-left: 4px;
    font-size: 12px;
    color: #fff;
    line-height: 26px;
    vertical-align: top;
    text-align: center;
    background-color: #666;

    &.btn-prdc {
      display: inline-block;
      width: 74px;
      height: 28px;
      font-size: 12px;
      color: #fff;
      background-color: var(--color-enuriblue);
    }
  }
}

.option_cont {
  display: block;
  width: 100%;
  padding: 0 15px;
}

.option_row {
  display: block;
  min-height: 24px;
  margin: 0 0 4px;
  font-size: 0;

  &:last-child {
    margin-bottom: 20px;
  }

  > li {
    display: inline-block;
    min-height: 24px;
    vertical-align: middle;

    &.tx_tit {
      width: 52px;
      font-size: 11px;
      line-height: 24px;
      color: #000;
      vertical-align: top;
    }

    .ipt-opt {
      width: 44px;
      height: 24px;
      padding: 0 4px;
      border: 1px solid #ccc;
      font-size: 11px;
      color: #000;
      letter-spacing: -.4px;
      line-height: 24px;
      text-align: center;
      vertical-align: top;
      background-color: #f4f4f4;

      &::placeholder {
        color: #999;
      }
    }

    + li {
      margin-left: 4px;
    }

    &.tx_tit + li {
      margin-left: 0;
    }

    .btn-cond {
      display: inline-block;
      width: 92px;
      height: 24px;
      border: 1px solid #ccc;
      font-size: 11px;
      color: #000;
      letter-spacing: -.4px;
      line-height: 23px;
      text-align: center;
      background-color: #fff;
      cursor: pointer;
    }

    &.tx_price {
      font-size: 11px;
      color: #000;

      .ipt-price {
        width: 92px;
        height: 24px;
        padding: 0 8px;
        border: 1px solid #ccc;
        font-weight: bold;
        font-size: 12px;
        color: #000;
        letter-spacing: -.4px;
        line-height: 24px;
        text-align: right;
        background-color: #f4f4f4;
      }
    }

    .ipt-sel {
      display: inline-block;
      width: 92px;
      height: 24px;
      padding: 0 8px 0 4px;
      border: 1px solid #ccc;
      font-size: 12px;
      color: #000;
      letter-spacing: -.4px;
      line-height: 24px;
      background-color: #fff;
      cursor: pointer;
    }

    .btn-conf {
      display: inline-block;
      width: 44px;
      height: 24px;
      padding: 0 4px;
      border: 1px solid #ccc;
      font-size: 11px;
      color: #000;
      letter-spacing: -.4px;
      line-height: 23px;
      text-align: center;
      background-color: #fff;
      cursor: pointer;
    }

    .btn-exp {
      display: inline-block;
      width: 81px;
      height: 24px;
      padding: 0 4px;
      border: 1px solid #ccc;
      font-size: 11px;
      color: #000;
      letter-spacing: -.4px;
      line-height: 23px;
      text-align: center;
      background-color: #fff;
      cursor: pointer;
    }

    a, button {
      cursor: pointer;
      outline: 0;
    }

    a:hover, button:hover {
      text-decoration: underline;
    }

    .option_li_row {
      display: block;
      min-height: 24px;
      margin-bottom: 4px;
      font-size: 0;

      .ipt-opt {
        width: 92px;
        margin-right: 4px;
        text-align: left;
      }

      .ipt-sel, .btn-conf {
        margin-right: 4px;
      }
    }
  }
}

.option_row-catalog {
  height: auto;
  margin-bottom: 6px;

  > li {
    width: 100%;
    height: auto;

    &.tx_tit {
      width: 100%;
    }

    .tx_area {
      display: block;
      width: 100%;
      height: 60px;
      padding: 0 4px;
      border: 1px solid #ccc;
      font-size: 11px;
      color: #000;
      letter-spacing: -.4px;
      line-height: 18px;
      background-color: #f4f4f4;
      resize: none;
    }
  }
}

// 속성입력 하단 
.attr-bottom {
  clear: both;
  position: relative;
  width: 100%;
  height: 640px;
  padding-left: 163px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 162px;
    width: 1px;
    height: 100%;
    background-color: #ddd;
  }
}

// 속성 카테고리
.product_category {
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 162px;
  height: 100%;
  background-color: #f9f9f9;
}

.category {
  padding: 22px 10px 10px 25px;

  .cate_list > li {
    display: block;
    height: 26px;

    > a {
      display: inline-block;
      position: relative;
      font-size: 12px;
      letter-spacing: -.4px;
      color: #333;
      line-height: 26px;
      vertical-align: middle;
    }

    &.is-on > a {
      color: var(--color-enuriblue);
      text-decoration: underline;

      &:after {
        content: '';
        position: absolute;
        top: 3px;
        right: -20px;
        width: 20px;
        height: 20px;
        background: var(--sprite-img) -20px -40px no-repeat;
      }
    }
  }
}

.product_addoption {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 0;
}

.searchgroup_row {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 48px;
  padding: 0 12px;
  background-color: #fff;

  .search_box {
    display: block;
    position: relative;
    height: 48px;
    padding: 12px 0;
    border-bottom: 1px solid #eee;

    .btn-disabled {
      display: inline-block;
      height: 24px;
      padding: 0 10px;
      border: 1px solid #ccc;
      font-size: 11px;
      color: #000;
      text-align: center;
      line-height: 24px;
      vertical-align: middle;
      cursor: pointer;
      outline: 0;
      background-color: #fff;

      &:hover {
        background: rgba(0, 0, 0, 0.02);
      }
    }

    .search_in {
      position: absolute;
      top: 12px;
      right: 0;
      width: 400px;
    }
  }
}

.chkgroup {
  padding: 16px 12px;
}

.chkgroup_row {
  margin-bottom: 12px;

  .tx_tit {
    display: inline-block;
    position: relative;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -.4px;
    line-height: 20px;
    color: #000;

    &.is-main:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      left: -5px;
      right: -5px;
      background-color: #b2f1ff;
    }
  }

  .chk_list {
    display: block;
    font-size: 0;

    .form-chk {
      display: inline-block;
      width: 25%;
      height: 20px;
      margin-bottom: 4px;
      font-size: 11px;
      color: #555;
      letter-spacing: -.4px;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      label {
        display: inline-block;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        height: 100%;
        padding-right: 10px;
        color: #555;
        vertical-align: top;
      }

      .ipt-text {
        display: block;
        width: 100%;
        padding: 0 8px;
        border-radius: 2px;
        border: 1px solid #ccc;
        font-size: 11px;
        color: #000;
        letter-spacing: -.4px;
        background-color: #f4f4f4;
        outline: 0;
        transition: all .3s ease;

        &:focus {
          border-color: #333;
        }
      }

      &:hover .ipt-text {
        border-color: #333;
      }

      &.inc-text {
        label {
          width: calc(100% - 110px);

          &:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 16px;
            height: 16px;
            background-color: #ccc;
            opacity: 0.5;
          }
        }

        .ipt-box {
          float: right;
          position: relative;
          width: 100px;
          margin-right: 10px;
          line-height: 18px;

          .lay-auto {
            display: none;
            overflow-y: auto;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 10;
            width: 100px;
            max-height: 220px;
            padding: 8px 0;
            border: 1px solid #ccc;
            border-top: 0;
            background-color: #fff;

            > span {
              display: block;
              padding: 0 8px;
              font-size: 12px;
              color: #333;
              line-height: 18px;

              &:hover {
                background-color: #f3f3f3;
              }
            }
          }
        }
      }
    }
  }
} 